<a href="https://colab.research.google.com/github/Arshed32029/Assignment_20231061/blob/main/20231061_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

In [8]:
x = input("Enter a number: ")

Enter a number: 5

In [9]:
print(type(x))

<class 'str'>

In [10]:
y = int(x)

In [11]:
z = float(x)

In [12]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [13]:
x = input("Enter a number: ")
print(type(x))

y = int(x)
z = float(x)

print(type(x))
print(type(y))
print(type(z))

Enter a number: 5
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>

In [14]:
def calculate_length(string):
    return len(string)

# Example usage
input_string = "Hello, World!"
length = calculate_length(input_string)
print("Length of the string:", length)

Length of the string: 13

In [15]:
def count_characters(string):
    return len(string)

# Example usage
input_string = "Hello, World!"
count = count_characters(input_string)
print("Number of characters:", count)

Number of characters: 13

In [16]:
def remove_character(string, k):
    if k < 0 or k >= len(string):
        return string
    return string[:k] + string[k+1:]

# Example usage
input_string = "Hello, World!"
k = 4
new_string = remove_character(input_string, k)
print("Modified string:", new_string)

Modified string: Hell, World!

In [17]:
def remove_odd_index_characters(string):
    return string[::2]

# Example usage
input_string = "Hello, World!"
new_string = remove_odd_index_characters(input_string)
print("Modified string:", new_string)

Modified string: Hlo ol!

In [18]:
user_input = input("Enter a string: ")
print("Upper case:", user_input.upper())
print("Lower case:", user_input.lower())

Enter a string: 2
Upper case: 2
Lower case: 2

In [19]:
def sort_string(string):
    return ''.join(sorted(string))

# Example usage
input_string = "Hello, World!"
sorted_string = sort_string(input_string)
print("Sorted string:", sorted_string)

Sorted string:  !,HWdellloor

In [20]:
def reverse_string(string):
    return string[::-1]

# Example usage
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print("Reversed string:", reversed_string)

Reversed string: !dlroW ,olleH

In [21]:
def convert_to_list(string):
    return list(string)

# Example usage
input_string = "Hello, World!"
string_list = convert_to_list(input_string)
print("String as a list:", string_list)

String as a list: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [22]:
def sum_list(lst):
    total = sum(lst)
    return total

# Example usage
numbers = [1, 2, 3, 4, 5]
result = sum_list(numbers)
print("Sum:", result)

Sum: 15

In [23]:
def find_largest_smallest(lst):
    largest = max(lst)
    smallest = min(lst)
    return largest, smallest

# Example usage
numbers = [10, 5, 7, 12, 3]
largest_num, smallest_num = find_largest_smallest(numbers)
print("Largest number:", largest_num)
print("Smallest number:", smallest_num)

Largest number: 12
Smallest number: 3

In [24]:
def remove_even_numbers(lst):
    odd_numbers = [num for num in lst if num % 2 != 0]
    return odd_numbers

# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = remove_even_numbers(numbers)
print("Odd numbers:", result)

Odd numbers: [1, 3, 5, 7, 9]

In [25]:
def select_odd_numbers(lst):
    odd_numbers = [num for num in lst if num % 2 != 0]
    return odd_numbers

# Example usage
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = select_odd_numbers(numbers)
print("Odd numbers:", result)

Odd numbers: [1, 3, 5, 7, 9]

In [26]:
def convert_list_to_string(char_list):
    string = ''.join(char_list)
    return string

# Example usage
characters = ['H', 'e', 'l', 'l', 'o']
result = convert_list_to_string(characters)
print("String:", result)

String: Hello

In [27]:
def find_index(lst, item):
    if item in lst:
        index = lst.index(item)
        return index
    else:
        return -1

# Example usage
fruits = ['apple', 'banana', 'orange', 'grape']
item = 'orange'
index = find_index(fruits, item)
if index != -1:
    print("Index of", item + ":", index)
else:
    print(item, "not found in the list.")

Index of orange: 2

In [28]:
def add_lists(list1, list2):
    combined_list = list1 + list2
    return combined_list

# Example usage
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = add_lists(list1, list2)
print("Combined list:", result)

Combined list: [1, 2, 3, 4, 5, 6]

In [29]:
def get_unique_values(lst):
    unique_values = list(set(lst))
    return unique_values

def count_unique_values(lst):
    unique_values = get_unique_values(lst)
    count = len(unique_values)
    return count

# Example usage
numbers = [1, 2, 3, 4, 4, 5, 5, 5]
unique_values = get_unique_values(numbers)
count = count_unique_values(numbers)
print("Unique values:", unique_values)
print("Count:", count)

Unique values: [1, 2, 3, 4, 5]
Count: 5

In [30]:
from collections import Counter

def extract_elements_with_frequency_greater_than_k(lst, k):
    frequency_count = Counter(lst)
    result = [element for element, frequency in frequency_count.items() if frequency > k]
    return result

# Example usage
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
k = 2
result = extract_elements_with_frequency_greater_than_k(numbers, k)
print("Elements with frequency greater than", k, ":", result)

Elements with frequency greater than 2 : [3, 4]

In [31]:
def reverse_strings(string_list):
    reversed_list = [string[::-1] for string in string_list]
    return reversed_list

# Example usage
strings = ["hello", "world", "python"]
reversed_strings = reverse_strings(strings)
print("Reversed strings:", reversed_strings)

Reversed strings: ['olleh', 'dlrow', 'nohtyp']

In [32]:
# (i) Create a dictionary
fruit = {
    'names': ['Mango', 'Lemon'],
    'color': ['yellow', 'green'],
    'taste': ['sweet', 'sour']
}

# (ii) Display the dictionary
print(fruit)

# (iii) Add a new value
fruit['names'].append('Apple')

# Display the updated dictionary
print(fruit)

{'names': ['Mango', 'Lemon'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}
{'names': ['Mango', 'Lemon', 'Apple'], 'color': ['yellow', 'green'], 'taste': ['sweet', 'sour']}

In [33]:
# Initialize a dictionary
my_dict = {'name': 'John', 'age': 25}

# Add a new key-value pair
my_dict['city'] = 'New York'

# Display the updated dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [34]:
# Initialize a dictionary
my_dict = {'name': 'John', 'age': 25}

# Check if a key exists
key = 'name'
if key in my_dict:
    print(f"The key '{key}' exists in the dictionary.")
else:
    print(f"The key '{key}' does not exist in the dictionary.")

The key 'name' exists in the dictionary.

In [35]:
# Initialize a dictionary
my_dict = {'name': 'John', 'age': 25}

# Access a dictionary key's element
key = 'name'
value = my_dict[key]
print(value)

John

In [36]:
# Initialize a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Iterate over the dictionary using a for loop
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: John
Key: age, Value: 25
Key: city, Value: New York

In [37]:
# Get user input for n
n = int(input("Enter a number: "))

# Create an empty dictionary
result_dict = {}

# Fill the dictionary with keys and their squares
for num in range(1, n + 1):
    result_dict[num] = num ** 2

# Print the resulting dictionary
print(result_dict)

Enter a number: 34
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156}

In [38]:
# Given dictionary
original_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Extract the keys from the dictionary
keys = list(original_dict.keys())

# Create a new dictionary using the extracted keys
new_dict = {key: None for key in keys}

# Print the new dictionary
print(new_dict)

{'name': None, 'age': None, 'city': None}

In [39]:
# Initialize a dictionary
my_dict = {'name': 'John', 'age': 25}

# Rename a key
old_key = 'name'
new_key = 'full_name'

# Create a new key-value pair with the new key
my_dict[new_key] = my_dict.pop(old_key)

# Display the updated dictionary
print(my_dict)

{'age': 25, 'full_name': 'John'}

In [40]:
# Initialize a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Print only the keys of the dictionary
for key in my_dict.keys():
    print(key)

name
age
city

In [41]:
# Initialize a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Print only the values of the dictionary
for value in my_dict.values():
    print(value)

John
25
New York

In [42]:
count = 1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [43]:
number = int(input("Enter a number: "))

for i in range(1, 11):
    print(number, "x", i, "=", number * i)

Enter a number: 87
87 x 1 = 87
87 x 2 = 174
87 x 3 = 261
87 x 4 = 348
87 x 5 = 435
87 x 6 = 522
87 x 7 = 609
87 x 8 = 696
87 x 9 = 783
87 x 10 = 870

In [44]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [45]:
numbers = [1, 2, 3, 4, 5]

for i in range(len(numbers) - 1, -1, -1):
    print(numbers[i])

5
4
3
2
1

In [46]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [47]:
number = int(input("Enter a number: "))
factorial = 1

for i in range(1, number + 1):
    factorial *= i

print("Factorial of", number, "is", factorial)

Enter a number: 5
Factorial of 5 is 120

In [48]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(1, len(numbers), 2):
    print(numbers[i])

2
4
6
8

In [49]:
number = int(input("Enter a number: "))

for i in range(1, number + 1):
    cube = i ** 3
    print("Cube of", i, "is", cube)

Enter a number: 9
Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216
Cube of 7 is 343
Cube of 8 is 512
Cube of 9 is 729

In [50]:
def get_unique_digits(class_id):
    # Convert class_id to a string
    class_id_str = str(class_id)

    # Create an empty set to store unique digits
    unique_digits = set()

    # Iterate over each character in the class_id_str
    for char in class_id_str:
        # Check if the character is a digit
        if char.isdigit():
            # Add the digit to the unique_digits set
            unique_digits.add(int(char))

    # Convert the set back to a list and return it
    return list(unique_digits)

# Example usage
class_id = 20231061
unique_digits = get_unique_digits(class_id)
print(unique_digits)

[0, 1, 2, 3, 6]